.parent {
    font-size: 16px;
}

.parent .child {
    font-size: 1em;
}

.ancestor .parent {
    font-size: 1.5rem;
}

/* Nested version */
.parent {
    font-size: 16px;
    .child {
        font-size: 1em;
    }
    .ancestor & {
        font-size: 1.5rem;
    }
}

.item + .item {
    /* styles */
}

[data-scones].item {
    /* styles */
}

.item {
    & + .item {
        /* styles */
    }
    &[data-scones] {
        /* styles */
    }
}

.item {
    width: 100%;
    @media (min-width: 40em) {
        width: 90%;
        margin-inline: auto;
    }
}

.item {
    color: #333;
    @media (prefers-color-scheme: dark) {
        color: #e8e8e8;
    }
    .container-big & {
        width: 100%;
    }
    & + & {
        margin-left: 10px;
    }
}

<div class="scone" > <span > Yummy</span > </div > #thing,
div {
    & span {
        color: blue;
    }
}

.scone span {
    color: red;
}
